package web

templ Index(Name string) {
	<div>
		<head>
			<link rel="stylesheet" type="text/css" href="assets/style.css"/>
		</head>
		<body>
			<h1>The Start of a New Page!, { Name }</h1>
		</body>
	</div>
}
