package web

import "github.com/JuLi0n21/fileclap/models"

templ Index(Name string, fiels []*models.File, folders []*models.Folder) {
	@Head()
	<body>
		@Menu() {
			@Sidebar(folders)
			@Main(fiels)
		}
	</body>
}
